@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #2196f3;
  fill: #2196f3;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #fff;
  letter-spacing: 0.03em;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin-right: 0; */
  padding-bottom: 24px;
}

.section.advantage {
  border: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .link {
  position: relative;
  display: block;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  /* color: var(--title-text-color); */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.contacts-text {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-text:hover, .contacts-text:focus {
  color: #2196f3;
  fill: #2196f3;
}

.cont-list .mail-icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-studio {
  color: #000000;
  margin-right: 0px;
}

.logo-web {
  color: #2196f3;
}

.logo-head {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link.current {
  color: #2196f3;
}

.cont-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-list > .item {
  margin-left: 30px;
}

.cont-list .mail-icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.cont-list .tel-icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.site-nav .link.current::after {
  opacity: 1;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: var(--background-color);
  letter-spacing: 0.03em;
  margin: 0;
}

.section.hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero {
  text-align: center;
}

.hero .overley {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero3.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .button {
  /* display: inline-block; */
  /* margin-bottom: 200px; */
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  color: #ffffff;
  padding-top: 200px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.adventage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adventage .iteam {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.feature-list,
.text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.backgraund-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.preference-icon {
  width: 65px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-list .title {
  /* outline: 2px solid tomato; */
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.doing .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doing .list .item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.doing img {
  display: block;
}

.doing-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.doing .item:nth-child(3) {
  margin-bottom: 0;
}

.doing .item:nth-child(3) .item:nth-child(3) {
  margin-right: 0;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-position {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
}

.team .list .item {
  margin-right: 30px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team .list .item:nth-child(4) {
  margin-right: 0;
}

.team .list .foto {
  display: block;
  margin-bottom: 30px;
}

.list .icon li {
  margin-right: 10px;
}

.list .icon li .icon .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box .social-icon {
  background-color: transparent;
  fill: #afb1b8;
}

.box .social-icon:hover, .box .social-icon:focus {
  fill: #ffffff;
}

.box .social-icon:hover:hover, .box .social-icon:hover:focus, .box .social-icon:focus:hover, .box .social-icon:focus:focus {
  fill: #ffffff;
}

.box .social-icon:hover:hover:hover, .box .social-icon:hover:hover:focus, .box .social-icon:hover:focus:hover, .box .social-icon:hover:focus:focus, .box .social-icon:focus:hover:hover, .box .social-icon:focus:hover:focus, .box .social-icon:focus:focus:hover, .box .social-icon:focus:focus:focus {
  fill: #ffffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-evenly; */
}

.customer li {
  margin-right: 30px;
  width: calc((100% - 60px) / 6);
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.customer li:hover, .customer li:focus {
  border: 1px solid #2196f3;
}

.customer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer .link:hover, .customer .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: currentColor;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
}

.modal > .btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
  border-radius: 50%;
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.icon-btn-close {
  fill: black;
}

.form {
  width: 528px;
  height: 581px;
  padding: 40px;
}

.form-about {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.form-field.comments {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 8px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus + .form-text {
  color: #2196f3;
  -webkit-transform: translate(-90%, -150%);
          transform: translate(-90%, -150%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-text.tel {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.form-input:focus + .form-text.mail {
  -webkit-transform: translate(-60%, -150%);
          transform: translate(-60%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text {
  -webkit-transform: translate(-90%, -150%);
          transform: translate(-90%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.tel {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.mail {
  -webkit-transform: translate(-60%, -150%);
          transform: translate(-60%, -150%);
}

.form-input:focus-within ~ .icon-form {
  fill: #2196f3;
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-input.comments {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.form-input:focus + .form-text.comments {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.form-input:not(:placeholder-shown) + .form-text.comments {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.form-text {
  position: absolute;
  top: 25%;
  left: 42px;
  /* transform: translate(50% 50%); */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.form-text.comments {
  top: 12px;
  left: 16px;
}

.icon-form {
  position: absolute;
  top: 85%;
  left: 16px;
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  display: inline-block;
  color: black;
}

.consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-input:checked + .checkbox,
.check-input .check-input:checked:focus + .checkbox {
  background-image: url("../images/vector.svg");
  background-size: contain;
  background-color: #2196f3;
  border-radius: 4px;
}

.checkbox {
  width: 15px;
  height: 16px;
  margin: 0;
  margin-right: 5px;
  background-image: url("../images/kvadrat.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.text.consent {
  margin: 0;
  left: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.text-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
}

.button.submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.page-footer {
  min-height: 253px;
  background-color: #2f303a;
  color: #ffffff;
}

.page-footer .address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.page-footer .container.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 28px;
}

.page-footer .container.info .list {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.015em;
  color: #2f303a;
}

.foot-child .logo-foot {
  background-color: #2f303a;
}

.logo-foot {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-foot .logo-foot {
  color: #ffffff;
}

.logo-foot .logo-foot .link {
  background-color: #2f303a;
  display: inline-block;
  margin-bottom: 10px;
}

.address.company {
  color: #ffffff;
  margin-bottom: 9px;
  font-family: inherit;
  font-style: normal;
}

.address .link {
  color: #757575;
  background-color: #2f303a;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .link.mail {
  display: inline-block;
  margin-bottom: 9px;
}

.page-footer b {
  display: inline-block;
  margin-bottom: 21px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1ю14;
  letter-spacing: 0.03em;
}

.input {
  padding-top: 18px;
  padding-bottom: 18px;
  width: 270px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #afb1b8;
  background-color: #2f303a;
}

.page-footer h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.button.primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/icon-send.svg");
  background-size: contain;
}

.social .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.social .list .social-icons {
  fill: #ffffff;
}

.foot-link .social .item {
  margin-right: 10px;
}

.social .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .link:hover, .social .link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.foot-follow .img-btn {
  margin-left: 10px;
}

.copyrigyt {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=main.css.map */