.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.adventage {
  display: flex;
  .iteam {
    margin-right: 30px;
    width: calc((100% - 90px) / 4);
  }
}
.feature-list,
.text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
// .adventage .iteam {
//   margin-right: 30px;
//   width: calc((100% - 90px) / 4);
// }
.backgraund-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.preference-icon {
  width: 65px;
  height: 70px;
  align-items: center;
}
.feature-list .title {
  /* outline: 2px solid tomato; */
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
