.section.team {
  background-color: $white-second-color;
}
.team .list {
  display: flex;
  /* justify-content: space-between; */
}
.team .item {
  margin-right: 30px;
  background-color: $background-color;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team .foto {
  display: block;
  margin-bottom: 30px;
}
.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-position {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.list .icon li {
  margin-right: 10px;
}
.list .icon .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: $white-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// .link {
//   color: $accent-color;
//   fill: $accent-color;
// }
.box .social-icon {
  background-color: transparent;
  fill: $social-color;
}
.team .item:nth-child(4) {
  margin-right: 0;
}
// .box .link:hover,
// .box .link:focus {
//   background-color: $accent-color;
// }
.box .social-icon:hover,
.box .social-icon:focus {
  fill: $white-color;
}
// .box .social-icon {
//   background-color: transparent;
//   fill: $social-color;
// }
