.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  color: $accent-color;
  fill: $accent-color;
}
.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  color: $primary-text-color;
  background-color: $background-color;
  letter-spacing: 0.03em;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list.icon {
  display: flex;
  justify-content: center;
  /* margin-right: 0; */
  padding-bottom: 24px;
}
.section.advantage {
  border: 1px solid #ececec;
}
