$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-color: #fff;
$white-color: #ffffff;
$white-second-color: #f5f4fa;
$white-bg-color: #e5e5e5;
$backgraund-bg-color: #2f303a;
$social-color: #afb1b8;
$font-body: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
$modal-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
